{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>

    <form id="filterForm">
        <label>
            <input type="checkbox" id="filterAll" checked> Tous
        </label>
        <label>
            <input type="checkbox" id="filterDone"> Fait
        </label>
        <label>
            <input type="checkbox" id="filterNotDone"> Non fait
        </label>
    </form>
    
    <table class="table">
        <thead>
    <tr>
        <th>Id</th>
        <th>Todo</th>
        <th>categories</th>
        <th>users</th>
        <th>Fait</th>
        <th>Actions</th>
        
        
    </tr>
    </thead>
    <tbody>
    {% for todo in todos %}
        <tr class="todo-row">

            <td>{{ todo.id }}</td>
            <td>{{ todo.todo }}</td>
            <td>{{ todo.category.name }}</td>
            <td>{{ todo.users|join() }}</td>
            
            
                <td>
                    <input type="checkbox" class="task-checkbox" {{ todo.isDone() ? 'checked' : '' }}>
                </td>
                
            
            <td>
                <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>

    <a href="{{ path('app_todo_new') }}">Create new</a>

    <script src="{{ asset('js/filtre.js') }}"></script>
{% endblock %}
